<!-- <form action="/signup" method="post">
  <label for="username"> Username: </label>
  <input type="text" name="username">
  <label for="email"> Email: </label>
  <input type="text" name="email">
  <label for="username"> Password: </label>
  <input type="text" name="password">
  <input type="submit" value="submit">
</form> -->

<form method="post" action="/signup">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  Email: <input type="text" name="email">
</form>
