<form action="/signup" method="post">
  <label for="username"> Username: </label>
  <input type="text" name="username">
  <label for="email"> Email: </label>
  <input type="text" name="email">
  <label for="username"> Password: </label>
  <input type="text" name="password">
  <input class="btn btn-primary" type="submit">
</form>
